@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --font-family: "Inter", sans-serif;
    --text-color: #3F3F3F;

    --menu-item-color: #3F3F3F;
    --menu-item-color-hover: #3918D9;
    
    
    --menu-item-background: #fff;
    --menu-item-background-select: #4C34C2;

    --menu-item-border: #fff;
    --menu-item-border-hover: #AC9FF0;


    --sidebar-color: #ffffff;
    --body-color: #FAFBFF;

    --primary-border: #B6ABED;
    --primary-focus: #AC9FF0;
    --primary-hover: #3918D9;
    --primary-main: #4C34C2;
    --primary-pressed: #230F80;
    --primary-secondary: #F7F5FF;

    --gray-100: #ECECEC;
    --gray-200: #D8D8D8;
    --gray-300: #C5C5C5;
    --gray-400: #B1B1B1;
    --gray-500: #9E9E9E;
    --gray-600: #7E7E7E;
    --gray-700: #5F5F5F;
    --gray-800: #3F3F3F;
    --gray-900: #202020;
    
    --gray_2-10: #0A0A0A;
    --gray_2-20: #424242;
    --gray_2-30: #616161;
    --gray_2-40: #757575;
    --gray_2-50: #9E9E9E;
    --gray_2-60: #C2C2C2;
    --gray_2-70: #E0E0E0;
    --gray_2-80: #EDEDED;
    --gray_2-90: #F5F5F5;
    --gray_2-100: #FFFFFF;

    --success-border: #B6CAAE;
    --success-focus: #B6CAAE;
    --success-hover: #1F4F09;
    --success-main: #255F0B;
    --success-pressed: #122F05;
    --success-secondary: #D3DFCE;
}

body.dark {
    --text-color: #F5F5F5; /* Основной цвет текста */
    
    --menu-item-color: #F5F5F5; /* Цвет пунктов меню */
    --menu-item-color-hover: #4C34C2; /* Цвет пункта меню при наведении */
    
    --menu-item-background: #202020; /* Фон пунктов меню */
    --menu-item-background-select: #3918D9; /* Выбранный пункт меню */
    
    --menu-item-border: #202020; /* Границы пунктов меню */
    --menu-item-border-hover: #AC9FF0; /* Границы пунктов меню при наведении */
    
    --sidebar-color: #202020; /* Цвет боковой панели */
    --body-color: #121212; /* Общий фон страницы */
    
    --primary-border: #B6ABED; /* Основные границы */
    --primary-focus: #AC9FF0; /* Фокус основных элементов */
    --primary-hover: #3918D9; /* Наведение на основные элементы */
    --primary-main: #4C34C2; /* Главный основной цвет */
    --primary-pressed: #230F80; /* Нажатый элемент */
    --primary-secondary: #121212; /* Вторичный оттенок основного элемента */
    
    --gray-100: #3F3F3F; /* Серый уровень 100% */
    --gray-200: #5F5F5F; /* Серый уровень 200% */
    --gray-300: #7E7E7E; /* Серый уровень 300% */
    --gray-400: #9E9E9E; /* Серый уровень 400% */
    --gray-500: #B1B1B1; /* Серый уровень 500% */
    --gray-600: #C5C5C5; /* Серый уровень 600% */
    --gray-700: #D8D8D8; /* Серый уровень 700% */
    --gray-800: #ECECEC; /* Серый уровень 800% */
    --gray-900: #F5F5F5; /* Серый уровень 900% */
    
    --gray_2-10: #F5F5F5; /* Серый вариант 2, уровень 10% */
    --gray_2-20: #EDEDED; /* Серый вариант 2, уровень 20% */
    --gray_2-30: #E0E0E0; /* Серый вариант 2, уровень 30% */
    --gray_2-40: #C2C2C2; /* Серый вариант 2, уровень 40% */
    --gray_2-50: #9E9E9E; /* Серый вариант 2, уровень 50% */
    --gray_2-60: #757575; /* Серый вариант 2, уровень 60% */
    --gray_2-70: #616161; /* Серый вариант 2, уровень 70% */
    --gray_2-80: #424242; /* Серый вариант 2, уровень 80% */
    --gray_2-90: #0A0A0A; /* Серый вариант 2, уровень 90% */
    --gray_2-100: #202020; /* Серый вариант 2, уровень 100% */
}

body {
    font-family: var(--font-family);
    background-color: var(--body-color);

    display: flex;
    column-gap: 20px;
    transition: all 0.2s ease-in-out;
}

section {
    margin: 20px;
}

.inter_14_m {
    font-size: 14px;
    font-weight: 600;
}

.inter_16_m {
    font-size: 16px;
    font-weight: 600;
}

h3 {
    font-style: 20px;
    color: var(--text-color);
    font-weight: 600;
}







.toggle-switch {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 20px;
}

.toggle-switch .switch {
    cursor: pointer;
    position: relative;
    width: 32px;
    height: 20px;
    border-radius: 25px;
    background: var(--gray-200);
    border: 2px solid transparent;
}

.toggle-switch .switch:hover {
    border: 2px solid var(--primary-focus);
}

.switch::before {
    content: '';
    position: absolute;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
    background: white;
    transition: all 0.3s ease-in-out;
}

.toggle-switch.true .switch {
    background: var(--primary-main);
}

.toggle-switch.true .switch::before {
    left: 14px;
}












table {
    border-collapse: collapse;
}

table thead {
    border-bottom: 1px solid var(--gray-200);
    background: var(--gray_2-90);
}

table tbody {
    background: var(--gray_2-100);
}

table th, td {
    padding: 14px 16px;
    color: var(--gray-800);

}






.tag {
    border: 1px solid var(--gray_2-60);
    border-radius: 50px;
    padding: 2px 8px;
    font-size: 14px;
    font-weight: 600;
}

.tag.success {
    background: var(--success-border);
    color: var(--success-main);
    border: 1px solid var(--success-border);
}





.button {
    background: var(--primary-main);
    color: var(--gray_2-100);
    font-weight: 600;
    border-radius: 4px;
    padding: 8px 16px;
    transition: all 0.2s ease-in-out;
}

.button:hover {
    background: var(--primary-hover);
}

.button.w {
    background: transparent;
    border: 2px solid transparent;
    color: var(--primary-main);
}

.button.w:hover {
    border: 2px solid transparent;
    color: var(--primary-hover);
}

.button.w:focus {
    border: 2px solid var(--primary-focus);
}







input {
    color: var(--gray_2-30);
    padding: 6px 12px;
    border: 1px solid var(--gray_2-70);
    border-radius: 4px;
    margin: 5px;
}

input:hover {
    border: 1px solid var(--primary-hover);
}

input:focus {
    border: 1px solid var(--primary-focus);
}