.modal {
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.15);
}

.modal-content {
    max-width: 700px;
    padding: 25px;
    width: 100%;
    background: var(--gray-100);
    border-radius: 4px;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--gray_2-60);
}

.modal-header p, i {
    font-size: 20px;
    font-weight:600;
}

.modal-header i {
    color: rgb(175, 0, 0);
    cursor: pointer;
}

.modal-body {
    display: flex;
    flex-direction: column;
}

.modal-hide {
    visibility: collapse;
}

.modal-form-block {
    margin-block: 10px;
}

.modal-form-block p {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
}