.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 100vh;
    width: 300px;
    padding: 20px 14px;
    background: var(--sidebar-color);
    transition: all 0.25s ease;
    user-select: none;
}

.nav-link {
    margin-top: 15px;
}

footer {
    display: flex;
    justify-content: space-between;
}